body {
  margin: 0;
  text-align: center;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  background-color: #54478c;
}
* {
  color: #b9e769;
  font-weight: bold;
}

h1 {
  /* color:#00a896 */
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.grid {
  display: grid;
  width: 40vw;
  height: 40vw;
  grid-gap: 1px;
  grid-template-columns: repeat(5, 1fr);
  /* outline: 2px solid #048ba8; */
  margin: auto;
}
.done {
  background-color: #16db93;
  color: #54478c;
}
.ignored {
  background-color: #db3a16;
  /* color: #54478c; */
}


.cell {
  padding: 10px;
  height: 100%;
  width: 100%;
  outline: 2px solid #048ba8 ;
  border-radius: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  /* background-color: ; */
}